@tailwind base;
@tailwind components;
@tailwind utilities;

.blink {
  text-align: center;
}
span {
  color: white;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
